{
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "no-unused-expressions": [
      2,
      {
        "allowTernary": true
      }
    ],
    "quotes": [
      2,
      "backtick",
      {
        "avoidEscape": true
      }
    ]
  }
}
