logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.DS_Store

pids
*.pid
*.seed
*.pid.lock

coverage
lib-cov

node_modules/
output/
public/

.cache
.eslintcache
.npm
.nyc_output
.yarn-integrity

